@import url('https://fonts.googleapis.com/css2?family=Play:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}
body{
  min-height: 100vh;
}

#help {
        font-style: italic
}

.drag-area{
  margin: auto;
  border: 2px dashed #333;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #333;
}
.drag-area .icon{
  font-size: 100px;
  color: #333;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #333;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #333;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#container {
    height: 50%;
}

.hidden {
    display: none;
}
table.tooltip {
    white-space: nowrap;
    font-size: 10pt;
}

.header {
    padding: 1em;
    text-align: right;
    vertical-align: baseline;
}

.header button {
    padding: 1em;
    font-weight: bolder;
}

#pageheader {
    background: #333;
    color: #fff;
    font-size: 20;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 1em;
}